<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Purchase History | Fulwe</title>
      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
      <!-- Linearicon Font -->
      <link rel="stylesheet" th:href="@{/plugins/linearicon/css/lnr-icon.css}">
      <!-- FontAwesome Free Font -->
      <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/font-awesome.min.css}">
      <!-- Custom CSS -->
      <link rel="stylesheet" th:href="@{/css/style.css}">
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <style>
         /* Discord background color */
         .bg-discord {
            background-color: #7289da; /* Discord's color */
         }

         /* Snapchat background color */
         .bg-snapchat {
            background-color: #ffea00; /* Dimmer Snapchat color */
         }
         /* Instagram background color */
         .bg-instagram {
            background-color: #e4405f; /* Instagram's color */
         }
         .bg-nothing{
            background-color: #000000;
         }

         #buyNowButton1:hover {
            background-color: #dc7193;
            color: white;
         }

         #buyNowButton2:hover {
            background-color: #8e8992;
            color: white;
         }
      </style>
      <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <!-- Inner Wrapper -->
      <div class="inner-wrapper">
         <!-- Header -->
         <header>
            <!-- Top Header Section -->
            <!-- /Top Header Section -->
            <!-- Main header Section -->
            <div class="main-header-section">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-12">
                        <!-- Main Menu -->
                        <div class="main-menu menu-section w-100 d-inline-block d-md-block">
                                 <!-- offcanvas menu -->
                                 <!-- /offcanvas menu -->

                                 <!-- Navbar menu-->
                                 <nav th:replace="index/index::navbar" class="navbar navbar-expand-lg p-0">
                                 </nav>
                                 <!-- /Navbar menu-->
                              </div>
                        <!-- /Main Menu -->
                     </div>
                  </div>
               </div>
            </div>

            <!-- /Main Header Section -->
         </header>
         <!-- /Header -->
         <!-- Header Banner Section -->
         <section class="slider-wrapper py-5">
            <div class="container">
               <div class="row">
                  <div class="col-12 text-center">
                     <div class="inner-banner-heading py-0 py-md-3 py-lg-5">
                        <h1 class="text-white">Purchase History</h1>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- /Header Banner Section -->
         <!-- Bread crumb -->
         <div class="breadcrumb-wrapper bg-theme py-2">
               <div class="container">
                        <div class="row">
                           <div class="col-md-12">
                                 <div class="custom-breadcrumb">
                                    <ol class="breadcrumb no-bg-color p-0 m-0">
                                       <li class="breadcrumb-item d-inline-block"><a href="index.html" class="text-theme-secondary">Home</a></li>
                                       <li class="breadcrumb-item d-inline-block active">Purchase History</li>
                                    </ol>
                                 </div>
                           </div>
                        </div>
               </div>   
               </div>    
         <!-- /Bread crumb -->   
         <!-- /Slide Wrapper -->
         <div class="py-5">
            <div class="container">
               <div class="row">
                  <div class="col-lg-4 col-md-12">
                     <aside class="sidebar sidebar-user">
                        <div class="user-card shadow border p-4">
                           <div class="user-info">
                              <div class="user-avatar text-center mb-4">
                                 <img th:src="'data:image/jpeg;base64,' + ${session.profilepic}" alt="User Avatar" class="position-relative img-fluid rounded-circle" style="object-fit: cover; object-position: center center; width: 100px; height: 100px;">
                                 <a href="/dashboard/setting">
                                    <span class="badge badge-info bg-theme rounded-circle position-absolute p-2 ml-n3 border-white text-white"><i class="fa fa-cog display-6"></i></span>
                                 </a>
                              </div>
                              <div class="user-details text-center">
                                 <h4>[[${name}]]</h4>
                              </div>
                              <div class="my-wallet-blk text-center my-4">
                              <span class="border-theme radius-5 d-inline-block px-4 py-2 mt-0 mb-4 text-theme">
                                 My Wallet
                              </span>
                                 <div class="align-items-center">
                                    <span class="text-center "><i class="fa fa-usd"></i>&nbsp[[${balance}]]</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="quicklink-sidebar-menu shadow border mt-4 p-4">
                           <div class="user-title-info">
                              <h4>Connect with me</h4>
                           </div>
                           <hr class="m-4">
                           <ul class="list-group border-0" th:if="${info != null}">
                              <li class="list-group-item border-0 p-0 mb-2" th:if="${info.getInstagram() != null}">
                                 <div class="bg-instagram px-3 py-1">
                                    <a class="text-white display-5" th:href="@{${info.getInstagram()}}">
                                       <i class="fab fa-instagram"></i>
                                       <h5 class="d-inline-block ml-5">Connect with me</h5>
                                    </a>
                                 </div>
                              </li>
                              <li class="list-group-item border-0 p-0 mb-2" th:if="${info.getDiscord() != null}">
                                 <div class="bg-discord px-3 py-1">
                                    <a class="text-white display-5" href="https://discord.com/">
                                       <i class="fab fa-discord"></i>
                                       <h5 class="d-inline-block ml-5" th:text="${info.getDiscord()}"></h5>
                                    </a>
                                 </div>
                              </li>
                              <li class="list-group-item border-0 p-0 mb-2" th:if="${info.getSnapchat() != null}">
                                 <div class="bg-snapchat px-3 py-1">
                                    <a class="text-white display-5" th:href="@{${info.getSnapchat()}}">
                                       <i class="fab fa-snapchat-ghost"></i>
                                       <h5 class="d-inline-block ml-5">Connect with me</h5>
                                    </a>
                                 </div>
                              </li>
                           </ul>

                           <div class="bg-nothing px-3 py-1" th:if="${info == null}">
                              <a class="text-white display-5" >
                                 <i class="fa fa-frown-o" aria-hidden="true"></i>
                                 <h5 class="d-inline-block ml-5">No Account Added</h5>
                              </a>
                           </div>
                        </div>
                     </aside>
                  </div>                           
                  <div class="col-lg-8 col-md-12 mt-5 mt-md-5 mt-lg-0">
                     <div class="custom-border-left rounded shadow border p-4 bg-white mb-4 stg-title">
                        <div class="row align-items-center">
                           <div class="col-12">
                              <h3 class="text-capitalize">Purchase History</h3>
                           </div>
                        </div>
                     </div>
                     <div class="container">
                     <div class="card shadow border">
                        <div class="card-header bg-white p-4 d-none d-md-block">
                           <div class="row">
                              <div class="col-md-5">
                                 <h4 class="card-title mb-0 text-capitalize">Informations</h4>
                              </div>
                              <div class="col-md-3">
                                 <h4 class="card-title mb-0 text-capitalize">Price</h4>
                              </div>
                              <div class="col-md-4">
                                 <h4 class="card-title mb-0 text-capitalize">Actions</h4>
                              </div>
                           </div>
                        </div>

<!--                        start showing all the product-->
                           <div th:each="order, eee: ${allOrder}">
                              <div class="card-body p-4 mb-4 mb-md-0">
                                    <div class="row align-items-center">
                                       <div class="col-lg-5 col-md-5">
                                          <div class="pur-pdt-add-info mb-3 mb-md-0 xs-text-center">
                                             <h4>
                                                <a href="single-product.html" class="text-link" th:text="${itemNames[eee.index]}">
                                                   <strong></strong>
                                                </a>
                                             </h4>
                                             <ul class="mt-3">
                                                <li>
                                                   <p>
                                                      <span><strong class="d-none d-lg-inline-block">Date :</strong></span> [[${order.getUtcCreate()}]]
                                                   </p>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                       <div class="col-lg-3 col-md-3 col-5">
                                          <div class="pur-pdt-price-tag">
                                             <div class="pur-pdt-price-info d-inline-block">
                                                 <span class="border-theme text-theme radius-5 px-3 py-2">
                                                    <i class="fa fa-dollar"></i>&nbsp;[[${order.getTotalPrice()}]]
                                                 </span>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-lg-3 col-md-3 col-5">
                                          <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                             <a id="buyNowButton" th:href="${checkoutLink}" class="d-inline-block btn btn-outline-theme radius-5 btn-sm px-4 py-2 mb-2">Connect With Seller</a>
                                             <a id="buyNowButton1" th:href="${checkoutLink}" class="d-inline-block btn btn-outline-theme radius-5 btn-sm px-4 py-2 mb-2">Return Item</a>
                                             <a id="buyNowButton2" th:href="${checkoutLink}" class="d-inline-block btn btn-outline-theme radius-5 btn-sm px-4 py-2 mb-2">Invoice</a>
                                          </div>
                                       </div>
                                    </div>
                              </div>
                              <hr class="m-0">
                        </div>

                        <nav aria-label="Page navigation">
                           <ul class="pagination justify-content-center">
                              <li class="page-item" th:if="${allOrder.hasPrevious()}">
                                 <a class="page-link" th:href="@{'/history?page=' + (allOrder.number - 1)}">&laquo; Previous</a>
                              </li>
                              <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, allOrder.totalPages - 1)}">
                                 <a class="page-link" th:href="@{'/history?page=' + pageNumber}" th:text="${pageNumber + 1}"></a>
                              </li>
                              <li class="page-item" th:if="${allOrder.hasNext()}">
                                 <a class="page-link" th:href="@{'/history?page=' + (allOrder.number + 1)}">Next &raquo;</a>
                              </li>
                           </ul>
                        </nav>

                        <div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Footer -->
         <footer th:replace="index/index::footer">
         </footer>
         <!-- /Footer -->
      </div>
      <!-- Inner Wrapper -->
      <!-- Modals -->
      <div class="modal fade review-modal" id="reviewModal" tabindex="-1" role="dialog">
         <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header justify-content-between">
                  <h3 class="modal-title" id="rating_modal">Review this Item</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <!--  /.modal-header -->
               <div class="modal-body text-center p-5">
                  <form action="#">
                     <div class="row">
                        <div class="col-12">
                           <div class="rate-now-title">
                              <h4>Your Rating</h4>
                           </div>
                        </div>
                        <div class="rate-it-blk mt-4 mx-auto">
                           <a href="javascript:;" class="rating-blk d-inline-block border-theme text-theme radius-5 px-4 py-2 ">
                              <div class="rating-icon-blk">
                                 <ul class="list-group list-group-horizontal">
                                    <li class="pr-1">
                                       <span class="fa fa-star-o text-theme"></span>
                                    </li>
                                    <li class="pr-1">
                                       <span class="fa fa-star-o text-theme"></span>
                                    </li>
                                    <li class="pr-1">
                                       <span class="fa fa-star-o text-theme"></span>
                                    </li>
                                    <li class="pr-1">
                                       <span class="fa fa-star-o text-theme"></span>
                                    </li>
                                    <li class="pr-1">
                                       <span class="fa fa-star-o text-theme"></span>
                                    </li>
                                 </ul>
                              </div>
                           </a>
                        </div>
                     </div>
                     <div class="comments-blk mt-4">
                        <textarea name="comments-blk" id="comments-wrapper" class="p-3" rows="5" placeholder="Please enter your comment reason to help the seller"></textarea>
                     </div>
                     <button type="submit" class="mt-4 btn btn-style radius-5 text-white px-4 py-2 ">Submit Rating</button>
                  </form>
                  <!-- /.form -->
               </div>
               <!-- /.modal-body -->
            </div>
         </div>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery -->
      <script th:src="@{/js/jquery.min.js}"></script>
      <!-- Bootstrap Core JS -->
      <script th:src="@{/js/popper.min.js}"></script>
      <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
      <!-- Custom JS -->
      <script th:src="@{/js/script.js}"></script>
   </body>
</html>