<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>User Dashboard | Fulwe</title>
   <!-- Favicon -->
   <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
   <!-- Linearicon Font -->
   <link rel="stylesheet" th:href="@{/plugins/linearicon/css/lnr-icon.css}">
   <!-- FontAwesome Free Font -->
   <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/font-awesome.min.css}">
   <!-- Slick slider CSS -->
   <link rel="stylesheet" th:href="@{/plugins/slick/css/slick.css}">
   <link rel="stylesheet" th:href="@{/plugins/slick/css/slick-theme.min.css}">
   <!-- Custom CSS -->
   <link rel="stylesheet" th:href="@{/css/style.css}" id="cpswitch">

   <style>

      #invoiceButton:hover {
         background-color: #8e8992;
         color: white;
      }

      #receivedButton:hover{
         background-color: #afbeff;
         color: white;
      }

      #getHelpButton:hover{
         background-color: #42295f;
         color: white;
      }

      .btn-custom {
         border-color: #A79AB2;
         background-color: transparent;
      }

      .btn-custom:hover {
         color: #fcfcfc;
         border-color: #A79AB2;
         background-color: #A79AB2; /* Transparent background on hover */
      }

      </style>

      <![endif]-->
   </head>
   <body>
      <!-- Inner wrapper -->
      <div class="inner-wrapper">
         <!-- Header -->
         <header>
            <!-- Top Header Section -->
            <!-- /Top Header Section -->
            <!-- Main header Section -->
            <div class="main-header-section">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-12">
                        <!-- Main Menu -->
                        <div class="main-menu menu-section w-100 d-inline-block d-md-block">
                           <!-- offcanvas menu -->
                           <!-- /offcanvas menu -->

                           <!-- Navbar menu-->
                           <nav th:replace="index/index::navbar" class="navbar navbar-expand-lg p-0">
                           </nav>
                           <!-- /Navbar menu-->
                        </div>
                        <!-- /Main Menu -->
                     </div>
                  </div>
               </div>
            </div>

            <!-- /Main Header Section -->
         </header>
         <!-- /Header -->
         <!-- Header Banner Section -->
         <section class="slider-wrapper py-5">
            <div class="container">
               <div class="row">
                  <div class="col-12 text-center">
                     <div class="inner-banner-heading py-0 py-md-3 py-lg-5">
                        <h1 class="text-white">Dashboard</h1>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- /Header Banner Section -->
         <!-- Bread crumb -->
         <div class="breadcrumb-wrapper bg-theme py-2">
               <div class="container">
                        <div class="row">
                           <div class="col-md-12">
                                 <div class="custom-breadcrumb">
                                    <ol class="breadcrumb no-bg-color p-0 m-0">
                                       <li class="breadcrumb-item d-inline-block"><a href="/" class="text-theme-secondary">Home</a></li>
                                       <li class="breadcrumb-item d-inline-block active">Dashboard</li>
                                    </ol>
                                 </div>
                           </div>
                        </div>
               </div>   
               </div>    
         <!-- /Bread crumb -->   
         <!--Dashboard Section-->
         <section class="user-dashboard py-5">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <div class="custom-border-left rounded shadow p-4 border mb-5 stg-title">
                        <div class="row align-items-center">
                           <div class="col-12">
                              <h3 class="text-capitalize">Dashboard</h3>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--Chart-->
                        <div class="row">
                           <div class="col-12">
                              <div class="pdt-cat-grid">
                                 <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                       <div class="bg-theme radius-1 p-4 mb-5">
                                          <div class="icon-blk p-4 text-center">
                                             <span class="lnr lnr-briefcase text-white m-auto display-4 bg-white-opacity p-4 rounded-circle"></span>
                                          </div>
                                          <div class="content-blk text-center text-white">
                                             <h4 class="pt-3 pb-2">My Wallet</h4>
                                             <h3>$[[${balance}]]</h3>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                       <div class="bg-theme-secondary radius-1 p-4 mb-5">
                                          <div class="icon-blk p-4 text-center">
                                             <span class="lnr lnr-tag text-white m-auto display-4 bg-white-opacity p-4 rounded-circle"></span>
                                          </div>
                                          <div class="content-blk text-center text-white">
                                             <h4 class="pt-3 pb-2">Services</h4>
                                             <h3>[[${services}]]</h3>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                       <div class="bg-theme radius-1 p-4 mb-5">
                                          <div class="icon-blk p-4 text-center">
                                             <span class="lnr lnr-sync text-white m-auto display-4 bg-white-opacity p-4 rounded-circle"></span>
                                          </div>
                                          <div class="content-blk text-center text-white">
                                             <h4 class="pt-3 pb-2">Processing</h4>
                                             <h3>[[${process}]]</h3>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                       <div class="bg-theme-secondary radius-1 p-4 mb-5">
                                          <div class="icon-blk p-4 text-center">
                                             <span class="lnr lnr-checkmark-circle text-white m-auto display-4 bg-white-opacity p-4 rounded-circle"></span>
                                          </div>
                                          <div class="content-blk text-center text-white">
                                             <h4 class="pt-3 pb-2">delivered</h4>
                                             <h3>[[${delivered}]]</h3>
                                          </div>
                                       </div>
                                    </div>                                                                        
                                 </div>
                              </div>
                           </div>
                        </div>

               <div class="col-12">
                  <div class="custom-border-left rounded shadow border p-4 bg-white mb-4 stg-title">
                     <div class="row align-items-center">
                        <div class="col-12">
                           <h3 class="text-capitalize">Purchase History</h3>
                        </div>
                     </div>
                  </div>

                  <div class="card shadow border">
                     <div class="card-header bg-white p-4 d-none d-md-block">
                        <div class="row">
                           <div class="col-md-5">
                              <h4 class="card-title mb-0 text-capitalize">Informations</h4>
                           </div>
                           <div class="col-md-3">
                              <h4 class="card-title mb-0 text-capitalize">Price</h4>
                           </div>
                           <div class="col-md-4">
                              <h4 class="card-title mb-0 text-capitalize">Actions</h4>
                           </div>
                        </div>
                     </div>

                     <!--                        start showing all the product-->
                     <div th:each="order, eee: ${orders}">
                        <div class="card-body p-4 mb-4 mb-md-0">
                           <div class="row align-items-center">
                              <div class="col-lg-5 col-md-5">
                                 <div class="pur-pdt-add-info mb-3 mb-md-0 xs-text-center">
                                    <h4>
                                       <a th:href="@{/shop/item/{itemId}(itemId=${order.getCommodityId()})}" class="text-link" th:text="${itemNames[eee.index]}">
                                          <strong></strong>
                                       </a>
                                    </h4>
                                    <ul class="mt-3">
                                       <li>
                                          <p>
                                             <span><strong class="d-none d-lg-inline-block">Date :</strong></span> [[${order.getUtcCreate()}]]
                                          </p>
                                       </li>
                                    </ul>
                                    <ul class="mt-3">
                                       <li>
                                          <p>
                                             <span><strong class="d-none d-lg-inline-block">Status :</strong></span> [[${order.getOrderStatus()}]]
                                          </p>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="col-lg-3 col-md-3 col-5">
                                 <div class="pur-pdt-price-tag">
                                    <div class="pur-pdt-price-info d-inline-block">
                                                 <span class="border-theme text-theme radius-5 px-3 py-2">
                                                    <i class="fa fa-dollar"></i>&nbsp;[[${order.getSellerSalary()}]]
                                                 </span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-3 col-md-3 col-5">
                                 <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                    <a id="connectSeller" th:if="${order.getOrderStatus().equals(order.getOrderStatus().PROCESSING)}" th:href="${checkoutLink}" class="d-inline-block btn btn-outline-theme radius-5 btn-sm px-4 py-2 mb-2">Connect With Buyer</a>
                                    <a id="receivedButton" th:if="${order.getOrderStatus().equals(order.getOrderStatus().PROCESSING)}" th:href="${checkoutLink}" class="d-inline-block btn btn-outline-theme radius-5 btn-sm px-4 py-2 mb-2">Item Delivered</a>
                                    <a id="getHelpButton" th:if="${order.getOrderStatus().equals(order.getOrderStatus().PROCESSING)}" th:href="${checkoutLink}" class="d-inline-block btn btn-outline-theme radius-5 btn-sm px-4 py-2 mb-2">Get Help</a>
                                    <a id="invoiceButton"  th:href="${checkoutLink}" class="d-inline-block btn btn-outline-theme radius-5 btn-sm px-4 py-2 mb-2">Invoice</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <hr class="m-0">
                     </div>

                  </div>
                  <div class="row">
                     <!-- Pagination Information -->
                     <div class="col-md-6">
                        Now page [[${page.current}]], total [[${page.pages}]] pages, total [[${page.total}]] records
                     </div>
                     <!-- Pagination Controls -->
                     <div class="col-md-6">
                        <nav aria-label="Page navigation">
                           <ul class="pagination justify-content-end">
                              <li th:if="${page.current > 1 && page.pages <= 5}">
                                 <a th:href="@{/dashboard(pn=1)}" class="btn btn-custom" aria-label="First Page">Start</a>
                              </li>
                              <li th:if="${page.hasPrevious() && page.pages <= 5}">
                                 <a th:href="@{/dashboard(pn=${page.current-1})}" class="btn btn-custom" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                 </a>
                              </li>
                              <!-- Show the first 5 pages with a right arrow -->
                              <th:block th:if="${page.pages <= 5}" th:each="i : ${#numbers.sequence(1, page.pages)}">
                                 <li th:class="${page.current == i} ? 'page-item active' : 'page-item'">
                                    <a th:href="@{/dashboard(pn=${i})}" class="btn btn-custom" th:text="${i}"></a>
                                 </li>
                              </th:block>
                              <li th:if="${page.hasNext() && page.pages <= 5}">
                                 <a th:href="@{/dashboard(pn=${page.current+1})}" class="btn btn-custom" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                 </a>
                              </li>
                              <li th:if="${page.pages > 5}">
                                 <!-- Show Start button -->
                                 <a th:href="@{/dashboard(pn=1)}" class="btn btn-custom" aria-label="First Page">Start</a>
                              </li>
                              <li th:if="${page.pages > 5}">
                                 <!-- Show Page 1 button -->
                                 <a th:href="@{/dashboard(pn=1)}" class="btn btn-custom" aria-label="Page 1">1</a>
                              </li>
                              <li th:if="${page.pages > 5}">
                                 <!-- Show Page 2 button -->
                                 <a th:href="@{/dashboard(pn=2)}" class="btn btn-custom" aria-label="Page 2">2</a>
                              </li>
                              <!-- Show an input field with a right arrow and End button -->
                              <li th:if="${page.pages > 5}">
                                 <form th:action="@{/dashboard}" method="get" class="input-group">
                                    <input type="number" class="form-control form-control-sm" name="pn" placeholder="Page" min="1" max="${page.pages}">
                                    <div class="input-group-append">
                                       <button class="btn btn-custom" type="submit">Go</button>
                                    </div>
                                 </form>
                              </li>
                              <li th:if="${page.current < page.pages}">
                                 <a th:href="@{/dashboard(pn=${page.pages})}" class="btn btn-custom" aria-label="Last Page">End</a>
                              </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>

            </div>
         </section>
         <!--/Dashboard Section-->
         <!-- Footer -->
         <footer th:replace="index/index::footer">

         </footer>
         <!-- /Footer -->
      </div>
      <!-- Inner Wrapper -->
      <!-- Optional JavaScript -->
      <!-- jQuery -->
      <script th:src="@{/js/jquery.min.js}"></script>
      <!-- Text Editor Js-->
      <script th:src="@{/plugins/summernote/js/summernote-bs4.js}"></script>
      <!-- Bootstrap Core JS -->
      <script th:src="@{/js/popper.min.js}"></script>
      <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
      <!-- Morris Chart Js -->
      <script th:src="@{/plugins/raphael/raphael.min.js}"></script>
      <script th:src="@{/plugins/morris/morris.min.js}"></script>
      <script th:src="@{/js/chart.morris.js}"></script>
      <!-- Custom JS -->
      <script th:src="@{/js/script.js}"></script>
   </body>
</html>