<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>User Dashboard | Fulwe</title>
   <!-- Favicon -->
   <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
   <!-- Linearicon Font -->
   <link rel="stylesheet" th:href="@{/plugins/linearicon/css/lnr-icon.css}">
   <!-- FontAwesome Free Font -->
   <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/font-awesome.min.css}">
   <!-- Slick slider CSS -->
   <link rel="stylesheet" th:href="@{/plugins/slick/css/slick.css}">
   <link rel="stylesheet" th:href="@{/plugins/slick/css/slick-theme.min.css}">
   <!-- Custom CSS -->
   <link rel="stylesheet" th:href="@{/css/style.css}" id="cpswitch">

      <![endif]-->
   </head>
   <body>
      <!-- Inner wrapper -->
      <div class="inner-wrapper">
         <!-- Header -->
         <header>
            <!-- Top Header Section -->
            <!-- /Top Header Section -->
            <!-- Main header Section -->
            <div class="main-header-section">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-12">
                        <!-- Main Menu -->
                        <div class="main-menu menu-section w-100 d-inline-block d-md-block">
                                 <!-- offcanvas menu -->
                                 <!-- /offcanvas menu -->

                                 <!-- Navbar menu-->
                           <nav th:replace="index/index::navbar" class="navbar navbar-expand-lg p-0">

                                 </nav>
                                 <!-- /Navbar menu-->
                              </div>
                        <!-- /Main Menu -->
                     </div>
                  </div>
               </div>
            </div>

            <!-- /Main Header Section -->
         </header>
         <!-- /Header -->
         <!-- Header Banner Section -->
         <section class="slider-wrapper py-5">
            <div class="container">
               <div class="row">
                  <div class="col-12 text-center">
                     <div class="inner-banner-heading py-0 py-md-3 py-lg-5">
                        <h1 class="text-white">Dashboard</h1>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- /Header Banner Section -->
         <!-- Bread crumb -->
         <div class="breadcrumb-wrapper bg-theme py-2">
               <div class="container">
                        <div class="row">
                           <div class="col-md-12">
                                 <div class="custom-breadcrumb">
                                    <ol class="breadcrumb no-bg-color p-0 m-0">
                                       <li class="breadcrumb-item d-inline-block"><a href="/" class="text-theme-secondary">Home</a></li>
                                       <li class="breadcrumb-item d-inline-block active">Dashboard</li>
                                    </ol>
                                 </div>
                           </div>
                        </div>
               </div>   
               </div>    
         <!-- /Bread crumb -->   
         <!--Dashboard Section-->
         <section class="user-dashboard py-5">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <div class="custom-border-left rounded shadow p-4 border mb-5 stg-title">
                        <div class="row align-items-center">
                           <div class="col-12">
                              <h3 class="text-capitalize">Dashboard</h3>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--Chart-->
                        <div class="row">
                           <div class="col-12">
                              <div class="pdt-cat-grid">
                                 <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                       <div class="bg-theme radius-1 p-4 mb-5">
                                          <div class="icon-blk p-4 text-center">
                                             <span class="lnr lnr-lock text-white m-auto display-4 bg-white-opacity p-4 rounded-circle"></span>
                                          </div>
                                          <div class="content-blk text-center text-white">
                                             <h4 class="pt-3 pb-2">My Wallet</h4>
                                             <h3>2300</h3>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                       <div class="bg-theme-secondary radius-1 p-4 mb-5">
                                          <div class="icon-blk p-4 text-center">
                                             <span class="lnr lnr-cog text-white m-auto display-4 bg-white-opacity p-4 rounded-circle"></span>
                                          </div>
                                          <div class="content-blk text-center text-white">
                                             <h4 class="pt-3 pb-2">Services</h4>
                                             <h3>100</h3>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                       <div class="bg-theme radius-1 p-4 mb-5">
                                          <div class="icon-blk p-4 text-center">
                                             <span class="lnr lnr-store text-white m-auto display-4 bg-white-opacity p-4 rounded-circle"></span>
                                          </div>
                                          <div class="content-blk text-center text-white">
                                             <h4 class="pt-3 pb-2">Sales</h4>
                                             <h3>1400</h3>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                       <div class="bg-theme-secondary radius-1 p-4 mb-5">
                                          <div class="icon-blk p-4 text-center">
                                             <span class="lnr lnr-bubble text-white m-auto display-4 bg-white-opacity p-4 rounded-circle"></span>
                                          </div>
                                          <div class="content-blk text-center text-white">
                                             <h4 class="pt-3 pb-2">Comments</h4>
                                             <h3>100</h3>
                                          </div>
                                       </div>
                                    </div>                                                                        
                                 </div>
                              </div>
                           </div>
                        </div>               
               <div class="row">
                  <div class="col-md-12 col-lg-12">
                     <!-- Sales Chart -->
                     <div class="card card-chart shadow mb-5">
                        <div class="card-header bg-white border-0 p-4 pb-0">
                           <div class="row">
                              <div class="col-lg-6">
                                 <h4 class="card-title d-inline-block mb-lg-0 mb-md-2">Sales & Views Statistics</h4>
                              </div>
                              <div class="col-lg-6">
                                 <ul class="text-lg-right">
                                    <li class="list-inline-item text-grey">
                                       <div class="d-inline-block mr-2 rounded-circle position-relative bg-sales"></div>
                                       Daily Sales
                                    </li>
                                    <li class="list-inline-item text-grey">
                                       <div class="d-inline-block mr-2 rounded-circle position-relative bg-views"></div>
                                       Daily Views
                                    </li>
                                    <li class="list-inline-item">
                                       <div class="form-group">
                                          <select class="select bg-input p-1">
                                             <option>March 2017</option>
                                             <option>March 2018</option>
                                             <option>March 2019</option>
                                          </select>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="card-body">
                           <div id="morrisArea" class="mb-4"></div>
                           <hr>
                           <div class="row">
                              <div class="col-lg-4 col-sm-6 text-center">
                                 <h4>478</h4>
                                 <p class="text-muted mb-2">Total <span class="text-theme">Sales</span> This Month</p>
                              </div>
                              <div class="col-lg-4 col-sm-6 text-center">
                                 <h4>$2,478</h4>
                                 <p class="text-muted mb-2">Total <span class="text-theme">Sales</span> This Month</p>
                              </div>
                              <div class="col-lg-4 col-md-12 text-center">
                                 <h4>1,878</h4>
                                 <p class="text-muted">Total <span class="text-theme">Sales</span> This Month</p>
                              </div>
                           </div>
                        </div>                        
                     </div>
                     <!-- /Sales Chart -->
                  </div>
               </div>
               <!--/chart-->
               <div class="row">
                  <div class="col-lg-6">
                     <!-- Sales Chart -->
                     <div class="card card-chart shadow mb-0">
                        <div class="card-header bg-white border-0 p-4 pb-0">
                           <div class="row">
                              <div class="col-lg-6">
                                 <h4 class="card-title d-inline-block mb-lg-0 mb-md-2">Sales & Views Stat</h4>
                              </div>                              
                           </div>
                        </div>
                        <div class="card-body">
                           <div id="morrisLine"></div>                           
                        </div>                        
                     </div>
                     <!-- /Sales Chart -->                  
                  </div>
                  <div class="col-lg-6">
                     <!-- Sales Chart -->
                     <div class="card card-chart shadow mt-4 mt-lg-0 mb-0">
                        <div class="card-header bg-white border-0 p-4 pb-0">
                           <div class="row">
                              <div class="col-lg-6">
                                 <h4 class="card-title d-inline-block mb-lg-0 mb-md-2">Top Sale Services</h4>
                              </div>                              
                           </div>
                        </div>
                        <div class="card-body">
                           <div id="top-sale-product"></div>
                        </div>                        
                     </div>
                     <!-- /Sales Chart -->
                  </div>                     
               </div>
               <!--/chart-->   
            </div>
         </section>
         <!--/Dashboard Section-->
         <!-- Footer -->
         <footer th:replace="index/index::footer">

         </footer>
         <!-- /Footer -->
      </div>
      <!-- Inner Wrapper -->
      <!-- Optional JavaScript -->
      <!-- jQuery -->
      <script th:src="@{/js/jquery.min.js}"></script>
      <!-- Text Editor Js-->
      <script th:src="@{/plugins/summernote/js/summernote-bs4.js}"></script>
      <!-- Bootstrap Core JS -->
      <script th:src="@{/js/popper.min.js}"></script>
      <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
      <!-- Morris Chart Js -->
      <script th:src="@{/plugins/raphael/raphael.min.js}"></script>
      <script th:src="@{/plugins/morris/morris.min.js}"></script>
      <script th:src="@{/js/chart.morris.js}"></script>
      <!-- Custom JS -->
      <script th:src="@{/js/script.js}"></script>
   </body>
</html>