<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Cart Page | Fulwe</title>
      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
      <!-- Linearicon Font -->
      <link rel="stylesheet" th:href="@{/plugins/linearicon/css/lnr-icon.css}">
      <!-- FontAwesome Free Font -->
      <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/font-awesome.min.css}">
      <!-- Custom CSS -->
      <link rel="stylesheet" th:href="@{/css/style.css}">
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
      <![endif]-->
      <style>
         .cropped-image {
            width: 150px; /* Set the desired width */
            height: 120px; /* Set the desired height */
            object-fit: cover; /* Maintain aspect ratio and cover container */
            object-position: center center; /* Center the image */
         }

         .top-footer{
            margin-top: 177px;
         }
      </style>
   </head>
   <body>
   <!-- Inner Wrapper -->
   <div class="inner-wrapper">
      <!-- Header -->
      <header>
            <!-- Top Header Section -->
            <!-- /Top Header Section -->

            <!-- Main header Section -->
            <div class="main-header-section">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-12">
                        <!-- Main Menu -->
                        <div class="main-menu menu-section w-100 d-inline-block d-md-block">
                                 <!-- offcanvas menu -->
                                 <div id="offcanvas_menu">
                                    <span class="lnr lnr-cross float-left display-6 position-absolute t-1 l-1 text-white" id="close_navSidebar"></span>
                                    <div class="user-info align-center bg-theme text-center">
                                       <a href="javascript:;" class="d-block menu-style text-white">
                                          <div class="user-avatar d-inline-block mr-3">
                                             <img src="assets/img/owner-avatar-img.jpg" alt="user avatar" class="rounded-circle">
                                          </div>
                                          <div class="user-info d-inline-block align-middle">
                                             <ul>
                                                <li>Steve Bell</li>
                                             </ul>
                                          </div>
                                       </a>
                                    </div>
                                    <div class="user-menu-items p-3 m-0 text-left">
                                       <a class="d-block pb-3" href="user-profile.html">
                                       <span class="lnr lnr-user mr-3"></span>
                                       <span class="text-truncate">Profile</span>
                                       </a>
                                       <a class="d-block pb-3" href="user-dashboard.html">
                                       <span class="lnr lnr-pie-chart mr-3"></span>
                                       <span class="text-truncate">Dashboard</span>
                                       </a>
                                       <a class="d-block pb-3" href="user-settings.html">
                                       <span class="lnr lnr-cog mr-3"></span>
                                       <span class="text-truncate">Settings</span>
                                       </a>
                                       <a class="d-block pb-3" href="user-notifications.html">
                                       <span class="lnr lnr-alarm mr-3"></span>
                                       <span class="text-truncate">Notifications</span>
                                       <span class="bg-theme d-inline-block text-white float-right px-3 py-0 radius-5 ">5</span>
                                       </a>
                                       <a class="d-block pb-3" href="cart-page.html">
                                       <span class="lnr lnr-cart mr-3"></span>
                                       <span class="text-truncate">Cart</span>
                                       <span class="bg-theme d-inline-block text-white float-right px-3 py-0 radius-5 ">3</span>
                                       </a>                    
                                       <a class="d-block p-0" href="index.html">
                                       <span class="lnr lnr-power-switch mr-3"></span>
                                       <span class="text-truncate">Logout</span>
                                       </a>
                                    </div>
                                 </div>
                                 <!-- /offcanvas menu -->

                                 <!-- Navbar menu-->
                           <nav class="navbar navbar-expand-lg p-0">
                              <div class="logo my-3 my-md-0">
                                 <a class="navbar-brand" href="/">
                                    <img th:src="@{/img/logo.png}" alt="logo image" class="img-fluid">
                                 </a>
                              </div>

                              <button class="navbar-toggler d-block d-md-none pr-0 ml-auto mr-3 collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                 <span class="icon-bar bg-theme top-bar"></span>
                                 <span class="icon-bar bg-theme middle-bar"></span>
                                 <span class="icon-bar bg-theme bottom-bar"></span>
                              </button>

                              <div class="collapse navbar-collapse menu-items-position d-md-block" id="navbarSupportedContent">
                                 <ul class="navbar-nav ml-auto text-uppercase">
                                    <li class="nav-item active">
                                       <a class="nav-link pl-md-0" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link" th:href="@{/shop}">Explore</a>
                                    </li>
                                 </ul>
                                 <!--  User info-->
                                 <div class="cta-btn text-right d-none d-md-inline-block" th:if="${session.email == null}">
                                    <a th:href="@{/login}" class="btn-outline-theme px-4 radius-5 py-3"><span class="lnr lnr-user pr-2"></span>Login</a>
                                 </div>
                                 <div class="user-info align-right dropdown d-none d-md-inline-block" th:if="${session.email != null}">
                                    <a href="javascript:;" data-toggle="dropdown" class="d-block menu-style text-theme-secondary dropdown-toggle">
                                       <div class="user-avatar d-inline-block">
                                          <img th:src="'data:image/jpeg;base64,' + ${session.profilepic}"
                                               alt="user avatar"
                                               class="rounded-circle"
                                               style="object-fit: cover; object-position: center center; width: 50px; height: 50px;">

                                       </div>
                                    </a>
                                    <!-- Notifications -->
                                    <div class="dropdown-menu custom-minwidth notification-dropdown-menu shadow-lg border-0 p-4 m-0 dropdown-menu-right">
                                       <a class="dropdown-item user-menu-item px-0 pt-0 pb-3" href="user-profile.html">
                                          <span class="lnr lnr-user mr-3"></span>
                                          <span class="text-truncate">Profile</span>
                                       </a>
                                       <a class="dropdown-item user-menu-item px-0 pt-0 pb-3" href="user-dashboard.html">
                                          <span class="lnr lnr-pie-chart mr-3"></span>
                                          <span class="text-truncate">Dashboard</span>
                                       </a>
                                       <a class="dropdown-item user-menu-item px-0 pt-0 pb-3" href="user-settings.html">
                                          <span class="lnr lnr-cog mr-3"></span>
                                          <span class="text-truncate">Settings</span>
                                       </a>
                                       <a class="dropdown-item user-menu-item px-0 pt-0 pb-3" href="user-notifications.html">
                                          <span class="lnr lnr-alarm mr-3"></span>
                                          <span class="text-truncate">Notify</span>
                                          <span class="bg-theme d-inline-block text-white float-right px-3 py-0 radius-5 ">5</span>
                                       </a>
                                       <a class="dropdown-item user-menu-item px-0 pt-0 pb-3" th:href="@{/shop/cart}">
                                          <span class="lnr lnr-cart mr-3"></span>
                                          <span class="text-truncate">Cart</span>
                                          <!--                                       <span class="bg-theme d-inline-block text-white float-right px-3 py-0 radius-5 ">3</span>-->
                                       </a>
                                       <a class="dropdown-item user-menu-item p-0" th:href="@{/user/logout}">
                                          <span class="lnr lnr-power-switch mr-3"></span>
                                          <span class="text-truncate">Logout</span>
                                       </a>
                                    </div>
                                 </div>
                                 <!-- /User info-->
                              </div>
                              <div class="d-inline-block align-middle d-md-none">
                                 <a href="javascript:;">
                                    <span class="lnr lnr-user d-block display-5" id="open_navSidebar"></span>
                                 </a>
                              </div>
                           </nav>
                                 <!-- /Navbar menu-->
                              </div>
                        <!-- /Main Menu -->
                     </div>
                  </div>
               </div>
            </div>
            <!-- /Main Header Section -->
         </header>
         <!-- /Header -->
         <!-- Header Banner Section -->
         <section class="slider-wrapper py-5">
            <div class="container">
               <div class="row">
                  <div class="col-12 text-center">
                     <div class="inner-banner-heading py-0 py-md-3 py-lg-5">
                        <h1 class="text-white">Cart</h1>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- /Header Banner Section -->
         <!-- Bread crumb -->
         <div class="breadcrumb-wrapper bg-theme py-2">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="custom-breadcrumb">
                        <ol class="breadcrumb no-bg-color p-0 m-0">
                           <li class="breadcrumb-item d-inline-block"><a th:href="@{/}" class="text-theme-secondary">Home</a></li>
                           <li class="breadcrumb-item d-inline-block active">Cart</li>
                        </ol>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- /Bread crumb -->  

         <!-- Cart Page -->  
         <section class="user-profile-wrapper py-5">
            <div class="container">
               <div class="row">
                  <div class="col-12 col-lg-7">
                     <div class="card shadow">
                        <div class="card-header bg-white p-4 d-none d-md-block">
                           <div class="row">
                              <div class="col-md-8">
                                 <h4 class="card-title mb-0 text-capitalize">Product Details</h4>
                              </div>
                              <div class="col-md-2 text-center">
                                 <h4 class="card-title mb-0 text-capitalize">Price</h4>
                              </div>
                              <div class="col-md-2 text-center">
                                 <h4 class="card-title mb-0 text-capitalize">Trash</h4>
                              </div>
                           </div>
                        </div>

<!--                        Item Loop Start-->
                        <div th:if="${not #lists.isEmpty(items)}" th:each="item, eee: ${items}">
                        <hr class="m-0">
                        <div class="card-body p-4">
                           <div class="cart-item-list clearfix">
                              <div class="row align-items-center">
                                 <div class="col-lg-8 col-md-8">
                                    <div class="cart-item-desc xs-text-center">
                                       <img th:src="'data:image/jpeg;base64,' + ${pictures[eee.index]}" alt="Item Image" class="cropped-image">
                                       <div class="cart-item-info d-inline-block align-middle pl-0 pl-md-3 py-3 py-md-0 xs-text-center">
                                          <h5><a th:href="@{/shop/item/{itemId}(itemId=${item.getItemId()})}" class="text-link"><strong>[[${item.getItemName()}]]</strong></a></h5>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-2 col-md-2 p-0 text-center">
                                    <div class="cart-item-price-wrapper">
                                       <div class="cart-item-price d-inline-block display-5">
                                          <span class=""><i class="fa fa-dollar"></i>&nbsp;[[${item.getItemPrice()}]]</span>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-2 col-md-2 mt-4 mt-md-0 text-center">
                                    <a th:href="@{/shop/deleteitem/{itemId}/{cusId}(itemId=${item.getItemId()},cusId=${cusid})}" class=""><span class="lnr lnr-trash text-theme display-5"></span></a>

                                 </div>
                              </div>
                           </div>
                        </div>
                        </div>
<!--                        Item Loop end-->

                     </div>
                  </div>
                  <div class="col-12 col-lg-5">
                     <!-- Order Summary -->
                     <div class="card shadow mb-0 mt-4 mt-lg-0">
                        <div class="card-header bg-white p-4">
                           <h4 class="card-title mb-0 text-capitalize">Order Summary</h4>
                        </div>
                        <div class="card-body p-0">
                           <div class="table-responsive">
                              <table class="table mb-0">
                                 <tbody>
                                    <tr>
                                       <td class="text-grey text-capitalize p-4 border-top-0">
                                          Sub Total
                                       </td>
                                       <td class="text-right p-4 border-top-0">$[[${subtotal}]]</td>
                                    </tr>
                                    <tr>
                                       <td class="text-grey p-4 text-capitalize">
                                          Estimated Taxes & Fees:
                                       </td>
                                       <td class="text-right p-4">$[[${fee}]]</td>
                                    </tr>
                                    <tr class="ord-sum-total">
                                       <td class="display-6 p-4">
                                          <b>Total</b>
                                       </td>
                                       <td class="text-right p-4 display-6"><b>$[[${total}]]</b></td>
                                    </tr>
                                 </tbody>
                              </table>
                              <hr class="m-0">
                              <!-- Select Payment Menthod -->     
                              <div class="checkout-btn p-2 p-md-4 float-left d-inline-block">
                                 <a href="wishlist-grid-view.html" class="d-inline-block py-3 text-theme-secondary"><i class="lnr lnr-chevron-left mr-2"></i>Back to Wishlist</a>
                              </div>
                              <div class="checkout-btn p-2 p-md-4 float-right d-inline-block">
                                 <a href="checkout.html" class="d-inline-block btn btn-md btn-style py-3 px-4 radius-5 text-white">Checkout</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- /Order Summary -->                        
                  </div>
               </div>
            </div>
         </section>
         <!-- /Cart Page -->
         <!-- Footer -->
         <footer>
            <div class="top-footer py-5">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-md-3 text-left xs-text-center">
                        <img class="img img-fluid" th:src="@{/img/logo-footer.png}" alt="Footer Logo" />
                     </div>
                     <div class="col-md-6 text-center">
                        <ul class="my-4 my-md-0">
                           <li class="list-inline-item"><img class="img img-fluid" th:src="@{/img/pay1.png}" alt="Payment Method" /></li>
                           <li class="list-inline-item"><img class="img img-fluid" th:src="@{/img/pay2.png}" alt="Payment Method" /></li>
                           <li class="list-inline-item"><img class="img img-fluid" th:src="@{/img/pay3.png}" alt="Payment Method" /></li>
                           <li class="list-inline-item"><img class="img img-fluid" th:src="@{/img/pay4.png}" alt="Payment Method" /></li>
                           <li class="list-inline-item"><img class="img img-fluid mt-2 mt-sm-0" th:src="@{/img/pay5.png}" alt="Payment Method" /></li>
                        </ul>
                     </div>
                     <div class="col-md-3 text-right">
                        <div class="social-widget">
                           <ul class="lh-0 xs-text-center">
                              <li class="list-inline-item"><a class="d-inline-block" href="javascript:;"><i class="fa fa-facebook"></i></a></li>
                              <li class="list-inline-item"><a class="d-inline-block" href="javascript:;"><i class="fa fa-twitter"></i></a></li>
                              <li class="list-inline-item"><a class="d-inline-block" href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="bottom-footer text-center py-4">
               <div class="container">
                  <div class="row">
                     <div class="col-12">
                        <p>© Copyrights 2020. All Rights By bootstrap</p>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
         <!-- /Footer -->
         </div>
      <!-- Inner Wrapper -->
      <!-- The Login Modal -->
      <div class="modal login-modal-blk" id="myLogin">
         <div class="modal-dialog">
            <div class="modal-content">
               <!-- Modal Header -->
               <div class="modal-header d-block text-center p-2 p-sm-5">
                  <h3 class="modal-title">Welcome Back</h3>
                  <h5 class="mt-2 mr-0">You can sign in with your User Name</h5>
                  <button type="button" class="close position-absolute t-1 r-1" data-dismiss="modal">&times;</button>
               </div>
               <!-- Modal body -->
               <div class="modal-body p-4 p-sm-5">
                  <form>
                     <div class="form-group mb-4">
                        <label for="usr">User Name</label>
                        <input type="text" class="form-control bg-input" id="usr" placeholder="Enter your User Name...">
                     </div>
                     <div class="form-group mb-4">
                        <label for="pwd">Password</label>
                        <input type="password" class="form-control bg-input" id="pwd" placeholder="Enter your Password...">
                     </div>
                     <div class="form-group mb-4">
                        <div class="custom-control custom-checkbox">
                           <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                           <label class="pl-2 custom-control-label" for="customCheck">Remember me</label>
                        </div>
                     </div>
                     <div class="form-group mb-0">
                        <a href="loggedin.html" class="btn btn-md btn-theme text-white py-2 px-4 py-sm-3 px-sm-5  text-capitalize shadow-theme-lg">Login Now</a>
                     </div>
                  </form>
               </div>
               <div class="custom-legend-blk position-relative text-center"><span class="text-theme">OR</span></div>
               <!-- Modal footer -->
               <div class="modal-footer d-block position-relative border-0 p-4 p-sm-5 text-center">
                  <h5>Sign in with a simple click</h5>
                  <ul class="list-unstyled list-inline social-login-blk ml-0 mt-3 mt-sm-4">
                     <li class="list-inline-item">
                        <div class="card bg-fb text-white py-2 px-4 text-center"><a href="javascript:;"><i class="fa fa-facebook"></i><span class="pl-2 d-none d-sm-inline-block">Facebook</span></a></div>
                     </li>
                     <li class="list-inline-item">
                        <div class="card bg-gplus text-white py-2 px-4 text-center"><a href="javascript:;"><i class="fa fa-google-plus"></i><span class="pl-2 d-none d-sm-inline-block">Google+</span></a></div>
                     </li>
                     <li class="list-inline-item">
                        <div class="card bg-twitter text-white py-2 px-4 text-center"><a href="javascript:;"><i class="fa fa-twitter"></i><span class="pl-2 d-none d-sm-inline-block">Twitter</span></a></div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- The Register Modal -->
      <div class="modal login-modal-blk" id="myRegister">
         <div class="modal-dialog">
            <div class="modal-content">
               <!-- Modal Header -->
               <div class="modal-header d-block text-center p-2 p-sm-5">
                  <h3 class="modal-title text-capitalize">create your account</h3>
                  <h5 class="mt-2">Please fill the following fields with appropriate information to register a new account.</h5>
                  <button type="button" class="close position-absolute t-1 r-1" data-dismiss="modal">&times;</button>
               </div>
               <!-- Modal body -->
               <div class="modal-body p-2 p-sm-5">
                  <form>
                     <div class="form-group mb-4">
                        <label for="name">Your Name</label>
                        <input type="text" class="form-control bg-input" id="name" placeholder="Enter your name...">
                     </div>
                     <div class="form-group mb-4">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control bg-input" id="email" placeholder="Enter your email address...">
                     </div>
                     <div class="form-group mb-4">
                        <label for="usr1">User Name</label>
                        <input type="text" class="form-control bg-input" id="usr1" placeholder="Enter your User Name...">
                     </div>
                     <div class="form-group mb-4">
                        <label for="pwdd">Password</label>
                        <input type="password" class="form-control bg-input" id="pwdd" placeholder="Enter your password...">
                     </div>
                     <div class="form-group mb-4">
                        <label for="pwd-confirm">Confirm Password</label>
                        <input type="password" class="form-control bg-input" id="pwd-confirm" placeholder="Enter your password...">
                     </div>
                     <div class="form-group mb-4">
                        <a href="javascript:;" data-toggle="modal" data-dismiss="modal" data-target="#myLogin" class="btn btn-md btn-theme text-white py-2 px-4 py-sm-3 px-sm-5  text-capitalize shadow-theme-lg">Register Now</a>
                     </div>
                     <ul class="list-unstyled list-inline ml-0 mt-4">
                        <li class="list-inline-item">
                           <div class="text-left text">
                              <p>Already have an account? <a href="javascript;" data-dismiss="modal" data-toggle="modal" data-target="#myLogin" class="">Login</a></p>
                           </div>
                        </li>
                     </ul>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery -->
      <script th:src="@{/js/jquery.min.js}"></script>
      <!-- Bootstrap Core JS -->
      <script th:src="@{/js/popper.min.js}"></script>
      <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
      <!-- Custom JS -->
      <script th:src="@{/js/script.js}"></script>
   </body>
</html>