<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Product Grid View | Nookx</title>
      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
      <!-- Jquery UI -->
      <link rel="stylesheet" th:href="@{/plugins/jquery-ui/css/jquery-ui.css}">
      <!-- Linearicon Font -->
      <link rel="stylesheet" th:href="@{/plugins/linearicon/css/lnr-icon.css}">
      <!-- FontAwesome Free Font -->
      <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/font-awesome.min.css}">
      <!-- Custom CSS -->
      <link rel="stylesheet" th:href="@{/css/style.css}">
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <!-- Inner Wrapper -->
      <div class="inner-wrapper">
         <!-- Header -->
         <header>
            <!-- Top Header Section -->
            <!-- /Top Header Section -->

            <!-- Main header Section -->
            <div class="main-header-section">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-12">
                        <!-- Main Menu -->
                        <div class="main-menu menu-section w-100 d-inline-block d-md-block">
                                 <!-- offcanvas menu -->
                                 <div id="offcanvas_menu">
                                    <span class="lnr lnr-cross float-left display-6 position-absolute t-1 l-1 text-white" id="close_navSidebar"></span>
                                    <div class="user-info align-center bg-theme text-center">
                                       <a href="javascript:;" class="d-block menu-style text-white">
                                          <div class="user-avatar d-inline-block mr-3">
                                             <img src="assets/img/owner-avatar-img.jpg" alt="user avatar" class="rounded-circle">
                                          </div>
                                          <div class="user-info d-inline-block align-middle">
                                             <ul>
                                                <li>Steve Bell</li>
                                             </ul>
                                          </div>
                                       </a>
                                    </div>
                                    <div class="user-menu-items p-3 m-0 text-left">
                                       <a class="d-block pb-3" href="user-profile.html">
                                       <span class="lnr lnr-user mr-3"></span>
                                       <span class="text-truncate">Profile</span>
                                       </a>
                                       <a class="d-block pb-3" href="user-dashboard.html">
                                       <span class="lnr lnr-pie-chart mr-3"></span>
                                       <span class="text-truncate">Dashboard</span>
                                       </a>
                                       <a class="d-block pb-3" href="user-settings.html">
                                       <span class="lnr lnr-cog mr-3"></span>
                                       <span class="text-truncate">Settings</span>
                                       </a>
                                       <a class="d-block pb-3" href="user-notifications.html">
                                       <span class="lnr lnr-alarm mr-3"></span>
                                       <span class="text-truncate">Notifications</span>
                                       <span class="bg-theme d-inline-block text-white float-right px-3 py-0 radius-5 ">5</span>
                                       </a>
                                       <a class="d-block pb-3" href="cart-page.html">
                                       <span class="lnr lnr-cart mr-3"></span>
                                       <span class="text-truncate">Cart</span>
                                       <span class="bg-theme d-inline-block text-white float-right px-3 py-0 radius-5 ">3</span>
                                       </a>                    
                                       <a class="d-block p-0" href="index.html">
                                       <span class="lnr lnr-power-switch mr-3"></span>
                                       <span class="text-truncate">Logout</span>
                                       </a>
                                    </div>
                                 </div>
                                 <!-- /offcanvas menu -->

                                 <!-- Navbar menu-->
                                 <nav class="navbar navbar-expand-lg p-0">                        
                                    <div class="logo my-3 my-md-0">
                                       <a class="navbar-brand" href="index.html">
                                       <img th:src="@{/img/logo.png}" alt="logo image" class="img-fluid">
                                       </a>
                                    </div>
 
                                    <button class="navbar-toggler d-block d-md-none pr-0 ml-auto mr-3 collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                       <span class="icon-bar bg-theme top-bar"></span>
                                       <span class="icon-bar bg-theme middle-bar"></span>
                                       <span class="icon-bar bg-theme bottom-bar"></span>          
                                    </button>

                                    <div class="collapse navbar-collapse menu-items-position d-md-block" id="navbarSupportedContent">
                                       <ul class="navbar-nav ml-auto text-uppercase">
                                          <li class="nav-item active">
                                             <a class="nav-link pl-md-0" href="index.html">Home <span class="sr-only">(current)</span></a>
                                          </li>
                                          <li class="nav-item">
                                             <a class="nav-link" th:href="@{/shop}">Explore</a>
                                          </li>
                                       </ul>
                                       <!--  User info-->
                                       <div class="cta-btn text-right d-none d-md-inline-block">
                                          <a th:href="@{/login}" class="btn-outline-theme px-4 radius-5 py-3"><span class="lnr lnr-user pr-2"></span>Login</a>
                                       </div>
                                       <!-- /User info-->
                                    </div>
                        <div class="d-inline-block align-middle d-md-none">
                           <a href="javascript:;">
                           <span class="lnr lnr-user d-block display-5" id="open_navSidebar"></span>
                           </a>
                        </div>
                                 </nav>
                                 <!-- /Navbar menu-->
                              </div>
                        <!-- /Main Menu -->
                     </div>
                  </div>
               </div>
            </div>
            <!-- /Main Header Section -->
         </header>
         <!-- /Header -->
         <!-- Header Banner Section -->
         <section class="slider-wrapper py-5">
            <div class="container">
               <div class="row">
                  <div class="col-12 text-center">
                     <div class="inner-banner-heading py-0 py-md-3 py-lg-5">
                        <h1 class="text-white">Product</h1>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- /Header Banner Section -->
         <!-- Bread crumb -->
         <div class="breadcrumb-wrapper bg-theme py-2">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="custom-breadcrumb">
                        <ol class="breadcrumb no-bg-color p-0 m-0">
                           <li class="breadcrumb-item d-inline-block"><a href="index.html" class="text-theme-secondary">Home</a></li>
                           <li class="breadcrumb-item d-inline-block active">Product</li>
                        </ol>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- /Bread crumb -->  

         <!-- Product Grid -->
         <section class="pdt-filter-wrapper  py-5">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="custom-border-left rounded shadow p-4 border mb-4 stg-title">
                              <div class="row align-items-center">
                                 <div class="col-5">
                                    <div class="filter-items-swap d-inline-block text-dark">
                                       <div class="swap-link">
                                          <a href="product-grid-view.html" class="d-inline-block active mr-2">
                                          <img class="img-fluid p-2" th:src="@{/img/grid-layout.svg}" alt="Grid Layout Image">
                                          </a>
                                          <a href="product-list-view.html" class="d-inline-block">
                                          <img class="img-fluid p-2" th:src="@{/img/list-layout.svg}" alt="List Layout Image">
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-7">
                                    <div class="card-header border-0 p-0 text-right bg-white">
                                       <a href="javascript:;" id="navbarSideButton" class="d-inline-block float-right text-grey">
                                          <h3 class="card-title mb-0 d-inline-block mr-1 mr-md-3">Filters</h3>
                                          <i class="lnr lnr-funnel align-middle display-5"></i>
                                       </a>
                                    </div>  
                                    <div class="overlay"></div>                                  
                                 </div>
                              </div>
                           </div>
                              <div id="navbarSide" class="navbar-side bg-white">
                                    <span class="lnr lnr-cross float-left display-6 position-absolute t-1 l-1 text-white"></span>
                        <div id="accordion" class="accordion">
                           <div class="card mb-0 border-0">
                              <div class="card-header bg-white border-bottom-0 p-3 mb-0">
                                 <a href="#collapseOne" class="card-title text-dark d-inline-block mb-0 w-100" data-toggle="collapse">
                                    <h5 class="d-inline">Categories</h5>
                                 </a>
                              </div>
                              <div id="collapseOne" class="card-body pt-0 pb-3 collapse show" data-parent="#accordion">
                                 <div class="custom-control custom-radio mb-2">
                                    <input type="radio" class="custom-control-input" id="cat-electrical" name="cat-filter" value="cat-filter">
                                    <label class="custom-control-label pl-3" for="cat-electrical">Electrical</label>
                                 </div>
                                 <div class="custom-control custom-radio mb-2">
                                    <input type="radio" class="custom-control-input" id="cat-gym" name="cat-filter" value="cat-filter">
                                    <label class="custom-control-label pl-3" for="cat-gym">Gym</label>
                                 </div>
                                 <div class="custom-control custom-radio mb-2">
                                    <input type="radio" class="custom-control-input" id="cat-teaching" name="cat-filter" value="cat-filter">
                                    <label class="custom-control-label pl-3" for="cat-teaching">Teaching</label>
                                 </div>
                                 <div class="custom-control custom-radio mb-2">
                                    <input type="radio" class="custom-control-input" id="cat-music" name="cat-filter" value="cat-filter">
                                    <label class="custom-control-label pl-3" for="cat-music">Music</label>
                                 </div>
                                 <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="cat-petcare" name="cat-filter" value="cat-filter">
                                    <label class="custom-control-label pl-3" for="cat-petcare">Pet Care</label>
                                 </div>
                              </div>
                              <div class="card-header bg-white my-0 p-0 border-bottom-0">
                                 <a href="#collapseTwo" class="card-title collapsed text-dark border border-bottom-0 d-inline-block p-3 mb-0 w-100" data-toggle="collapse">
                                    <h5 class="d-inline"> Choose by</h5>
                                 </a>
                              </div>
                              <div id="collapseTwo" class="card-body collapse border border-0 pt-0 pb-3" data-parent="#accordion">
                                 <div class="custom-control custom-radio mb-2">
                                    <input type="radio" class="custom-control-input" id="choose-trending" name="cat-choose" value="cat-choose">
                                    <label class="custom-control-label pl-3" for="choose-trending">Trending</label>
                                 </div>
                                 <div class="custom-control custom-radio mb-2">
                                    <input type="radio" class="custom-control-input" id="choose-featured" name="cat-choose" value="cat-choose">
                                    <label class="custom-control-label pl-3" for="choose-featured">Featured</label>
                                 </div>
                                 <div class="custom-control custom-radio mb-2">
                                    <input type="radio" class="custom-control-input" id="choose-latest" name="cat-choose" value="cat-choose">
                                    <label class="custom-control-label pl-3" for="choose-latest">Latest</label>
                                 </div>
                                 <div class="custom-control custom-radio mb-0">
                                    <input type="radio" class="custom-control-input" id="choose-popular" name="cat-choose" value="cat-choose">
                                    <label class="custom-control-label pl-3" for="choose-popular">Popular</label>
                                 </div>
                              </div>
                              <div class="card-header bg-white my-0 p-0 border-bottom-0">
                                 <a href="#collapseThree" class="card-title collapsed text-dark d-inline-block border border-bottom-0 p-3 mb-0 w-100" data-toggle="collapse">
                                    <h5 class="d-inline">Price Range</h5>
                                 </a>
                              </div>
                              <div id="collapseThree" class="card-body collapse border border-0 pt-0 pb-3" data-parent="#accordion">
                                 <div class="range-slider price-range"></div>
                                 <div class="price-ranges mt-4">
                                    <span class="from custom-badge-sm mr-2">$30</span>
                                    <span class="to custom-badge-sm">$300</span>
                                 </div>
                              </div>
                              <div class="card-header bg-white my-0 p-0 border-bottom-0">
                                 <a href="#collapseFour" class="card-title collapsed text-dark border border-bottom-0 d-inline-block p-3 mb-0 w-100" data-toggle="collapse">
                                    <h5 class="d-inline"> Sort by</h5>
                                 </a>
                              </div>
                              <div id="collapseFour" class="card-body collapse border border-0 pt-0 pb-3" data-parent="#accordion">
                                 <div class="custom-control custom-radio mb-2">
                                    <input type="radio" class="custom-control-input" id="sort-ltoh" name="cat-sort" value="cat-sort">
                                    <label class="custom-control-label pl-3" for="sort-ltoh">Low to High</label>
                                 </div>
                                 <div class="custom-control custom-radio mb-0">
                                    <input type="radio" class="custom-control-input" id="sort-htol" name="cat-sort" value="cat-sort">
                                    <label class="custom-control-label pl-3" for="sort-htol">High to Low</label>
                                 </div>
                              </div>
                              <div class="card-header bg-white my-0 p-0 border-bottom-0">
                                 <a href="#collapseFive" class="card-title collapsed text-dark d-inline-block border border-bottom-0 p-3 mb-0 w-100" data-toggle="collapse">
                                    <h5 class="d-inline">Count</h5>
                                 </a>
                              </div>
                              <div id="collapseFive" class="card-body collapse border border-0 pt-0 pb-3" data-parent="#accordion">
                                 <div class="custom-control custom-radio mb-2">
                                    <input type="radio" class="custom-control-input" id="count-12" name="cat-count" value="cat-count">
                                    <label class="custom-control-label pl-3" for="count-12">12 Items</label>
                                 </div>
                                 <div class="custom-control custom-radio mb-2">
                                    <input type="radio" class="custom-control-input" id="count-15" name="cat-count" value="cat-count">
                                    <label class="custom-control-label pl-3" for="count-15">15 Items</label>
                                 </div>
                                 <div class="custom-control custom-radio mb-0">
                                    <input type="radio" class="custom-control-input" id="count-20" name="cat-count" value="cat-count">
                                    <label class="custom-control-label pl-3" for="count-20">20 Items</label>
                                 </div>
                              </div>
                           </div>
                        </div>
 
                              </div>
                        </div>
                     </div>

<!--                     Product Display-->
                           <div class="row" id="product-grid">
                           <!-- Product cards will be dynamically added here -->
                           </div>

                           <div class="pagination">
                              <ul class="pagination" id="pagination"></ul>
                           </div>
<!--                        Product Display End-->

                     <script>
                        // Define variables for pagination
                        let currentPage = 1;
                        const itemsPerPage = 9; // Number of products per page
                        let commodities = []; // Array to store the fetched products

                        // Function to display products on the current page
                        function displayProducts(pageNumber) {
                           const startIndex = (pageNumber - 1) * itemsPerPage;
                           const endIndex = startIndex + itemsPerPage;
                           const currentCommodities = commodities.slice(startIndex, endIndex);

                           const productGrid = document.getElementById('product-grid');
                           productGrid.innerHTML = ''; // Clear existing products

                           currentCommodities.forEach((commodity) => {
                              // Create HTML elements for each product card and populate with commodity data
                              const productCard = document.createElement('div');
                              productCard.className = 'col-md-6 col-lg-4 pdt card-deck mx-0'; // Adjust classes as needed

                              // Create and populate the card content
                              const cardContent = document.createElement('div');
                              cardContent.className = 'card mx-0 border shadow';

                              // Create and populate the wishlist section
                              const wishlistBlock = document.createElement('div');
                              wishlistBlock.className = 'wishlist-blk';
                              wishlistBlock.innerHTML = `
        <a href="wishlist-grid-view.html"><i class="fa fa-heart-o text-white"></i></a>
    `;

                              // Create and populate the card image
                              const cardImage = document.createElement('div');
                              cardImage.className = 'card-image position-relative'; // Added class 'position-relative'
                              cardImage.innerHTML = `
        <div class="image-crop">
            <img class="card-img-top custom-img-top" src="data:image/jpeg;base64,${commodity.itemPicture}" alt="Card image">
        </div>
    `;

                              // Create and populate the overlay for the card image
                              const imageOverlay = document.createElement('div');
                              imageOverlay.className = 'image-overlay';
                              imageOverlay.innerHTML = `
        <a href="single-product.html" class="btn btn-outline-white radius-5 py-3 px-4 text-capitalize">More Info</a>
    `;

                              // Append the overlay to the card image
                              cardImage.appendChild(imageOverlay);

                              // Create and populate the card body
                              const cardBody = document.createElement('div');
                              cardBody.className = 'card-body p-3';
                              cardBody.innerHTML = `
        <h4 class="card-title mb-0"><a href="single-product.html" class="text-link">${commodity.itemName}</a></h4>
        <div class="card-text">
            <div class="card-section-3 py-3">
                <div class="row">
                    <div class="col-12">
                        <div class="pdt-description">
                            <p>${commodity.itemIntro}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-0">
            <div class="card-section-4">
                <div class="row">
                    <div class="col-12">
                        <div class="pdt-add-to-cart text-center">
                            <a class="btn-outline-theme d-block radius-5 px-3 py-2" href="cart-page.html">
                                <span class="lnr lnr-cart"></span>&nbsp;Add to Cart -
                                <span class=""><i class="fa fa-usd"></i>&nbsp;${commodity.itemPrice}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    `;

                              // Append the wishlist section to the card content
                              cardContent.appendChild(wishlistBlock);

                              // Append the card image to the card content
                              cardContent.appendChild(cardImage);

                              // Append the card body to the card content
                              cardContent.appendChild(cardBody);

                              // Append the card content to the product card
                              productCard.appendChild(cardContent);

                              // Append the product card to the product grid
                              productGrid.appendChild(productCard);
                           });

                           // Update pagination controls
                           const totalPages = Math.ceil(commodities.length / itemsPerPage);
                           const pagination = document.getElementById('pagination');
                           pagination.innerHTML = '';

                           for (let i = 1; i <= totalPages; i++) {
                              const pageItem = document.createElement('li');
                              pageItem.className = 'page-item';
                              const pageLink = document.createElement('a');
                              pageLink.className = 'page-link';
                              pageLink.innerText = i;
                              pageLink.addEventListener('click', () => displayProducts(i));
                              pageItem.appendChild(pageLink);
                              pagination.appendChild(pageItem);
                           }
                        }


                        // Fetch data from the backend (assuming it returns a list of commodities)
                        // Replace this with your actual backend API endpoint
                        fetch('/api/commodities')
                                .then((response) => response.json())
                                .then((data) => {
                                   commodities = data; // Populate the commodities array with data from the backend
                                   displayProducts(currentPage); // Display the initial page of products
                                })
                                .catch((error) => {
                                   console.error('Error fetching data:', error);
                                });
                     </script>
                  </div>
               </div>
            </div>
         </section>
         <!-- Product Grid -->
         <!-- Footer -->
         <footer>
            <div class="top-footer py-5">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-md-3 text-left xs-text-center">
                        <img class="img img-fluid" th:src="@{/img/logo-footer.png}" alt="Footer Logo" />
                     </div>
                     <div class="col-md-6 text-center">
                        <ul class="my-4 my-md-0">
                           <li class="list-inline-item"><img class="img img-fluid" th:src="@{/img/pay1.png}" alt="Payment Method" /></li>
                           <li class="list-inline-item"><img class="img img-fluid" th:src="@{/img/pay2.png}" alt="Payment Method" /></li>
                           <li class="list-inline-item"><img class="img img-fluid" th:src="@{/img/pay3.png}" alt="Payment Method" /></li>
                           <li class="list-inline-item"><img class="img img-fluid" th:src="@{/img/pay3.png}" alt="Payment Method" /></li>
                           <li class="list-inline-item"><img class="img img-fluid mt-2 mt-sm-0" th:src="@{/img/pay5.png}" alt="Payment Method" /></li>
                        </ul>
                     </div>
                     <div class="col-md-3 text-right">
                        <div class="social-widget">
                           <ul class="lh-0 xs-text-center">
                              <li class="list-inline-item"><a class="d-inline-block" href="javascript:;"><i class="fa fa-facebook"></i></a></li>
                              <li class="list-inline-item"><a class="d-inline-block" href="javascript:;"><i class="fa fa-twitter"></i></a></li>
                              <li class="list-inline-item"><a class="d-inline-block" href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="bottom-footer text-center py-4">
               <div class="container">
                  <div class="row">
                     <div class="col-12">
                        <p>© Copyrights 2020. All Rights By bootstrapmb</p>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
         <!-- /Footer -->
      </div>
      <!-- Inner Wrapper -->
      <!-- The Login Modal -->
      <div class="modal login-modal-blk" id="myLogin">
         <div class="modal-dialog">
            <div class="modal-content">
               <!-- Modal Header -->
               <div class="modal-header d-block text-center p-2 p-sm-5">
                  <h3 class="modal-title">Welcome Back</h3>
                  <h5 class="mt-2 mr-0">You can sign in with your User Name</h5>
                  <button type="button" class="close position-absolute t-1 r-1" data-dismiss="modal">&times;</button>
               </div>
               <!-- Modal body -->
               <div class="modal-body p-4 p-sm-5">
                  <form>
                     <div class="form-group mb-4">
                        <label for="usr">User Name</label>
                        <input type="text" class="form-control bg-input" id="usr" placeholder="Enter your User Name...">
                     </div>
                     <div class="form-group mb-4">
                        <label for="pwd">Password</label>
                        <input type="password" class="form-control bg-input" id="pwd" placeholder="Enter your Password...">
                     </div>
                     <div class="form-group mb-4">
                        <div class="custom-control custom-checkbox">
                           <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                           <label class="pl-2 custom-control-label" for="customCheck">Remember me</label>
                        </div>
                     </div>
                     <div class="form-group mb-0">
                        <a href="loggedin.html" class="btn btn-md btn-theme text-white py-2 px-4 py-sm-3 px-sm-5  text-capitalize shadow-theme-lg">Login Now</a>
                     </div>
                  </form>
               </div>
               <div class="custom-legend-blk position-relative text-center"><span class="text-theme">OR</span></div>
               <!-- Modal footer -->
               <div class="modal-footer d-block position-relative border-0 p-4 p-sm-5 text-center">
                  <h5>Sign in with a simple click</h5>
                  <ul class="list-unstyled list-inline social-login-blk ml-0 mt-3 mt-sm-4">
                     <li class="list-inline-item">
                        <div class="card bg-fb text-white py-2 px-4 text-center"><a href="javascript:;"><i class="fa fa-facebook"></i><span class="pl-2 d-none d-sm-inline-block">Facebook</span></a></div>
                     </li>
                     <li class="list-inline-item">
                        <div class="card bg-gplus text-white py-2 px-4 text-center"><a href="javascript:;"><i class="fa fa-google-plus"></i><span class="pl-2 d-none d-sm-inline-block">Google+</span></a></div>
                     </li>
                     <li class="list-inline-item">
                        <div class="card bg-twitter text-white py-2 px-4 text-center"><a href="javascript:;"><i class="fa fa-twitter"></i><span class="pl-2 d-none d-sm-inline-block">Twitter</span></a></div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- The Register Modal -->
      <div class="modal login-modal-blk" id="myRegister">
         <div class="modal-dialog">
            <div class="modal-content">
               <!-- Modal Header -->
               <div class="modal-header d-block text-center p-2 p-sm-5">
                  <h3 class="modal-title text-capitalize">create your account</h3>
                  <h5 class="mt-2">Please fill the following fields with appropriate information to register a new account.</h5>
                  <button type="button" class="close position-absolute t-1 r-1" data-dismiss="modal">&times;</button>
               </div>
               <!-- Modal body -->
               <div class="modal-body p-2 p-sm-5">
                  <form>
                     <div class="form-group mb-4">
                        <label for="name">Your Name</label>
                        <input type="text" class="form-control bg-input" id="name" placeholder="Enter your name...">
                     </div>
                     <div class="form-group mb-4">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control bg-input" id="email" placeholder="Enter your email address...">
                     </div>
                     <div class="form-group mb-4">
                        <label for="usr1">User Name</label>
                        <input type="text" class="form-control bg-input" id="usr1" placeholder="Enter your User Name...">
                     </div>
                     <div class="form-group mb-4">
                        <label for="pwdd">Password</label>
                        <input type="password" class="form-control bg-input" id="pwdd" placeholder="Enter your password...">
                     </div>
                     <div class="form-group mb-4">
                        <label for="pwd-confirm">Confirm Password</label>
                        <input type="password" class="form-control bg-input" id="pwd-confirm" placeholder="Enter your password...">
                     </div>
                     <div class="form-group mb-4">
                        <a href="javascript:;" data-toggle="modal" data-dismiss="modal" data-target="#myLogin" class="btn btn-md btn-theme text-white py-2 px-4 py-sm-3 px-sm-5  text-capitalize shadow-theme-lg">Register Now</a>
                     </div>
                     <ul class="list-unstyled list-inline ml-0 mt-4">
                        <li class="list-inline-item">
                           <div class="text-left text">
                              <p>Already have an account? <a href="javascript;" data-dismiss="modal" data-toggle="modal" data-target="#myLogin" class="">Login</a></p>
                           </div>
                        </li>
                     </ul>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery -->
      <script th:src="@{/js/jquery.min.js}"></script>
      <script th:src="@{/plugins/jquery-ui/js/jquery-ui.min.js}"></script>
      <!-- Bootstrap Core JS -->
      <script th:src="@{/js/popper.min.js}"></script>
      <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
      <!-- Custom JS -->
      <script th:src="@{/js/script.js}"></script>
   </body>
</html>