<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Single Product | Fulwe</title>
      <!-- Favicon -->
      <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
      <!-- Linearicon Font -->
      <link rel="stylesheet" th:href="@{/plugins/linearicon/css/lnr-icon.css}">
      <!-- FontAwesome Free Font -->
      <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/font-awesome.min.css}">
      <!-- Slick slider CSS -->
      <link rel="stylesheet" th:href="@{/plugins/slick/css/slick.css}">
      <!-- Custom CSS -->
      <link rel="stylesheet" th:href="@{/css/style.css}">
      <style>
         /* Discord background color */
         .bg-discord {
            background-color: #7289da; /* Discord's color */
         }

         /* Snapchat background color */
         .bg-snapchat {
            background-color: #ffea00; /* Dimmer Snapchat color */
         }
         /* Instagram background color */
         .bg-instagram {
            background-color: #e4405f; /* Instagram's color */
         }
         .bg-nothing{
            background-color: #000000;
         }

         .sold {
            background-color: #ccc;
            color: #999;
            cursor: not-allowed;
            pointer-events: none;
         }
      </style>
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <!-- Inner Wrapper -->
      <div class="inner-wrapper">
         <!-- Header -->
         <header>
            <!-- Top Header Section -->
            <!-- /Top Header Section -->

            <!-- Main header Section -->
            <div class="main-header-section">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-12">
                        <!-- Main Menu -->
                        <div class="main-menu menu-section w-100 d-inline-block d-md-block">
                           <!-- offcanvas menu -->
                           <!-- /offcanvas menu -->

                           <!-- Navbar menu-->
                           <nav th:replace="index/index::navbar" class="navbar navbar-expand-lg p-0">

                           </nav>
                           <!-- /Navbar menu-->
                        </div>
                        <!-- /Main Menu -->
                     </div>
                  </div>
               </div>
            </div>
            <!-- /Main Header Section -->
         </header>
         <!-- /Header -->
         <!-- Header Banner Section -->
         <section class="slider-wrapper py-5">
            <div class="container">
               <div class="row">
                  <div class="col-12 text-center">
                     <div class="inner-banner-heading py-0 py-md-3 py-lg-5">
                        <h1 class="text-white">Product</h1>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- /Header Banner Section -->

         <!-- Bread crumb -->
         <div class="breadcrumb-wrapper bg-theme py-2">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                        <div class="custom-breadcrumb">
                           <ol class="breadcrumb no-bg-color p-0 m-0">
                              <li class="breadcrumb-item d-inline-block"><a href="/" class="text-theme-secondary">Home</a></li>
                              <li class="breadcrumb-item d-inline-block active">Shop</li>
                           </ol>
                        </div>
                  </div>
               </div>
            </div>   
         </div>    
         <!-- /Bread crumb -->   

         <!-- SINGLE PRODUCT PAGE -->
         <div class="single-pdt-page  py-5">
            <div class="container">
               <div class="row">
                  <div class="col-lg-4 col-xl-4">
                     <aside class="sidebar sidebar-user">
                        <div class="user-card shadow border bg-white p-4 text-center">
                           <div class="user-info">
                              <div class="user-avatar mb-4">
                                 <img th:src="'data:image/jpeg;base64,' + ${cuspic}" alt="User Avatar" class="img-fluid rounded-circle border-theme" style="object-fit: cover; object-position: center center; width: 100px; height: 100px;">
                              </div>
                              <div class="user-details">
                                 <h4>[[${username}]]</h4>
                              </div>
                              <hr>
                              <div class="pdt-contact-btn">
                                 <span class="display-5">
                                    <a href="tel:1234567890" class="btn btn-outline-theme d-inline-block radius-5">
                                       <span class="lnr lnr-phone-handset align-middle"></span>
                                    </a>
                                 </span>
                                 <span class="display-5">
                                    <a href="mailto:nookx@example.com" class="btn btn-outline-theme d-inline-block radius-5">
                                       <span class="lnr lnr-inbox align-middle"></span>
                                    </a>
                                 </span>
                              </div>
                           </div>
                        </div>
                        <div class="sidebar-pdt-desc mt-4">
                           <div class="shadow border p-4 text-center">
                              <div class="sidebar-price-tag">
                                 <h2 class="text-theme"><strong>$ [[${price}]]</strong></h2>
                              </div>
                              <hr class="my-4">
                              <div class="pricing-cta">
                                 <a id="buyNowButton" th:if="${sold == 0}" th:href="${checkoutLink}" class="d-inline-block btn btn-outline-theme radius-5 btn-sm px-4 py-2 ">Buy Now</a>
                                 <a id="buyNowButton1" th:if="${sold == 1}" class="d-inline-block btn btn-outline-theme radius-5 btn-sm px-4 py-2 sold">Sold</a>
                                 <!--                                 <a href="cart-page.html" class="d-inline-block btn btn-outline-theme radius-5 btn-sm px-4 py-2 "><span class="d-inline-block"> Add Cart</span></a>-->
                              </div>
                           </div>
                        </div>
                        <div class="quicklink-sidebar-menu shadow border mt-4 p-4">
                           <div class="user-title-info">
                              <h4>Connect with me</h4>
                           </div>
                           <hr class="m-4">
                           <ul class="list-group border-0" th:if="${info != null}">
                              <li class="list-group-item border-0 p-0 mb-2" th:if="${info.getInstagram() != null}">
                                 <div class="bg-instagram px-3 py-1">
                                    <a class="text-white display-5" th:href="@{${info.getInstagram()}}">
                                       <i class="fab fa-instagram"></i>
                                       <h5 class="d-inline-block ml-5">Connect with me</h5>
                                    </a>
                                 </div>
                              </li>
                              <li class="list-group-item border-0 p-0 mb-2" th:if="${info.getDiscord() != null}">
                                 <div class="bg-discord px-3 py-1">
                                    <a class="text-white display-5" href="https://discord.com/">
                                       <i class="fab fa-discord"></i>
                                       <h5 class="d-inline-block ml-5" th:text="${info.getDiscord()}"></h5>
                                    </a>
                                 </div>
                              </li>
                              <li class="list-group-item border-0 p-0 mb-2" th:if="${info.getSnapchat() != null}">
                                 <div class="bg-snapchat px-3 py-1">
                                    <a class="text-white display-5" th:href="@{${info.getSnapchat()}}">
                                       <i class="fab fa-snapchat-ghost"></i>
                                       <h5 class="d-inline-block ml-5">Connect with me</h5>
                                    </a>
                                 </div>
                              </li>
                           </ul>

                           <div class="bg-nothing px-3 py-1" th:if="${info == null}">
                              <a class="text-white display-5" >
                                 <i class="fa fa-frown-o" aria-hidden="true"></i>
                                 <h5 class="d-inline-block ml-5">No Account Added</h5>
                              </a>
                           </div>
                        </div>
                     </aside>
                  </div>
                  <div class="col-lg-8 col-xl-8 mt-5 mt-md-5 mt-lg-0">
                     <div class="custom-border-left rounded shadow border p-4 bg-white mb-4 stg-title">
                        <div class="row align-items-center">
                           <div class="col-12">
                              <h3 class="text-capitalize">[[${name}]]</h3>
                           </div>
                        </div>
                     </div>
                     <div class="pdt-item-showcase shadow border">
                        <div class="single-pdt-slider">
                           <div class="slide">
                              <img th:src="'data:image/jpeg;base64,' + ${picture}" alt="Pdt Image Grid">
                           </div>
                           <div th:each="pic, eee: ${bpictures}">
                              <div class="slide">
                                 <img th:src="'data:image/jpeg;base64,' + ${pic}" alt="Pdt Image Grid">
                              </div>
                           </div>
                        </div>


                        <div class="row align-items-center">
                           <div class="col-sm-12">
                              <div class="single-pdt-thumb text-center my-3 my-sm-5 px-4">
                                 <div class="wrapper-thumb">
                                    <div class="slider-thumb">
                                       <div class="slide-thumb">
                                          <img class="border-theme p-1" th:src="'data:image/jpeg;base64,' + ${picture}" alt="Pdt Image Thumbnail">
                                       </div>
                                       <div class="slide-thumb" th:each="pic, eee: ${bpictures}">
                                          <div class=class="slide-thumb">
                                             <img class="border-theme p-1" th:src="'data:image/jpeg;base64,' + ${pic}" alt="Pdt Image Thumbnail">
                                          </div>
                                       </div>
                                    </div>
                                    <!-- /thumb-slider -->
                                 </div>
                              </div>
                              <!-- /item__preview-thumb-->
                           </div>
                           <div class="col-sm-12 text-center">
                              <div class="prev-nav thumb-nav mb-5">
                                 <span class="lnr nav-left lnr-arrow-left btn-outline-theme radius-5 p-3 p-sm-3"></span>
                                 <span class="lnr nav-right lnr-arrow-right btn-outline-theme radius-5 p-3 p-sm-3"></span>
                              </div>
                              <!-- /prev-nav -->
                           </div>
                        </div>
                        <!-- /item__action -->
                     </div>
                     <!-- /item-preview-->
                     <div class="pdt-item-info mt-4 shadow border">
                        <div class="pdt-item-nav">
                           <ul class="nav nav-tabs p-4">
                              <li>
                                 <a href="#product-details" class="active px-4 py-2" data-toggle="tab">Item Details</a>
                              </li>
                           </ul>
                        </div>
                        <!-- /pdt-item-nav -->
                        <div class="tab-content">
                           <div class="fade show tab-pane product-tab active" id="product-details">
                              <div class="tab-content-wrapper p-4">
                                 <h3 class="mb-3">Description</h3>
                                 <p id="html" th:utext="${intro}"></p>
                              </div>
                           </div>
                           <div class="fade show tab-pane comments-tab" id="product-comments">
                              <div class="tab-content-wrapper p-4">
                                 <div class="card-body p-0">
                                    <div class="media align-items-top mb-4">
                                       <div class="rounded-circle">
                                          <img th:src="@{/img/user-avatar-1.png}" alt="user avatar" class="mr-4">
                                       </div>
                                       <div class="media-body">
                                          <h6 class="mb-1">Aana &nbsp;&nbsp;<button class="btn btn-theme radius-5 my-2 my-md-0 text-white">Purchased</button></h6>
                                          <div class="insight-posted-date mb-2">
                                             <span class="text-grey xs-text-left">2 hours ago</span>
                                          </div>
                                          <div class="cmt-text d-block text-grey">Nunc placerat mi id nisi interdum mollis. Praesent there pharetra, justo ut sceleris que the mattis.</div>
                                       </div>
                                       <div class="amt-rect-sale d-inline-block float-right">
                                          <a href="javascript:;"><span class="text-theme">Reply</span></a>
                                       </div>
                                    </div>
                                    <div class="media align-items-top mb-0">
                                       <div class="rounded-circle">
                                          <img th:src="@{/img/owner-avatar-img.jpg}" alt="user avatar" class="rounded-circle mr-4">
                                       </div>
                                       <div class="media-body">
                                          <form>
                                             <div class="form-group mb-3"><textarea class="form-control bg-input p-3" rows="5" placeholder="Reply to this comment..."></textarea></div>
                                          </form>
                                          <a href="javascript:;" class="btn btn-style px-4 py-2 text-white radius-5 text-capitalize">Submit Now</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="fade show tab-pane reviews-tab" id="product-reviews">
                              <div class="tab-content-wrapper p-4">
                                 <div class="card-body p-0">
                                    <div class="media align-items-top mb-4">
                                       <div class="rounded-circle">
                                          <img th:src="@{/img/user-avatar-3.png}" alt="user avatar" class="mr-4">
                                       </div>
                                       <div class="media-body">
                                          <h6 class="mb-1">Miller &nbsp;&nbsp;<a class="btn btn-theme radius-5 my-2 my-md-0 text-white">Support</a>
                                             <div class="insight-posted-date mb-2">
                                                   <span class="text-grey ml-0 ml-md-0">2 hours ago</span>
                                             </div>
                                          </h6>
                                          <div class="rating-blk d-inline-block">
                                             <ul class="list-group list-group-horizontal float-left">
                                                <li class="pr-1">
                                                   <span class="fa fa-star"></span>
                                                </li>
                                                <li class="pr-1">
                                                   <span class="fa fa-star"></span>
                                                </li>
                                                <li class="pr-1">
                                                   <span class="fa fa-star"></span>
                                                </li>
                                                <li class="pr-1">
                                                   <span class="fa fa-star"></span>
                                                </li>
                                                <li class="pr-1">
                                                   <span class="fa fa-star"></span>
                                                </li>
                                             </ul>
                                             <span class="rating__count">( 5 Rating )</span>
                                          </div>
                                          <div class="cmt-text d-block text-grey">Nunc placerat mi id nisi interdum mollis. Praesent there pharetra, justo ut sceleris que the mattis.</div>
                                       </div>
                                       <div class="amt-rect-sale d-inline-block float-right">
                                          <a href="javascript:;"><span class="text-theme">Reply</span></a>
                                       </div>
                                    </div>
                                    <div class="media align-items-top mb-0">
                                       <div class="rounded-circle">
                                          <img th:src="@{/img/owner-avatar-img.jpg}" alt="user avatar" class="rounded-circle mr-4">
                                       </div>
                                       <div class="media-body">
                                          <form>
                                             <div class="form-group mb-3"><textarea class="form-control bg-input p-3" rows="5" placeholder="Reply to this comment..."></textarea></div>
                                          </form>
                                          <a href="javascript:;" class="btn btn-style px-4 py-2 text-white radius-5 text-capitalize">Submit Now</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /tab-content -->
                     </div>
                  </div>
                  <!-- /col-md-8 -->                    
               </div>
            </div>
         </div>
         <!-- / SINGLE PRODUCT PAGE -->
         <section class="relevant-owner-pdt border-top py-5" th:if="${moreItem.size() != 0}">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <div class="mb-4">
                        <div class="row text-center">
                           <div class="col-12">
                              <h3 class="text-capitalize">More Items by [[${username}]]</h3>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div th:each="order, eee: ${moreItem}" class="col-lg-4 col-md-6 pdt card-deck mx-0">

                     <div class="card shadow mx-0">
                              <div class="wishlist-blk">
                                 <a href="wishlist-grid-view.html"><i class="fa fa-heart-o text-white"></i></a>
                              </div>
                              <div class="card-image">
                                 <img class="card-img-top" th:src="'data:image/jpeg;base64,' + ${moreItemPic[eee.index]}" alt="Card image">
                                 <div class="image-overlay">
                                    <a th:href="@{/shop/item/{id}(id=${order.itemId})}" class="btn btn-outline-white radius-5 py-3 px-4  text-capitalize">More Info</a>
                                 </div>
                              </div>
                              <div class="card-body p-3">
                                 <h4 class="card-title mb-0"><a th:href="@{/shop/item/{id}(id=${order.itemId})}" class="text-link">[[${order.getItemName()}]]</a></h4>
                                 <div class="card-text">
                                    <div class="card-section-3 py-3">
                                       <div class="row">
                                          <div class="col-12">
                                             <div class="pdt-description" th:utext="${order.getItemIntro()}">
                                                <p></p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <hr class="mt-0">
                                    <div class="card-section-4">
                                       <div class="row">
                                          <div class="col-12">
                                             <div class="pdt-add-to-cart text-center">
                                                <a class="btn-outline-theme d-block radius-5 px-3 py-2" th:href="@{/shop/item/{id}(id=${order.itemId})}">
                                                   <span class=""><i class="fa fa-usd"></i>&nbsp;[[${order.getItemPrice()}]]</span>
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                     </div>

                  </div>
               </div>
            </div>
         </section>
         <!-- Footer -->
         <footer th:replace="index/index::footer">

         </footer>
         <!-- /Footer -->
      </div>
      <!-- Inner Wrapper -->
      <!-- The Login Modal -->
      <!-- Optional JavaScript -->
      <!-- Add this JavaScript code to your template -->
      <script th:inline="javascript">
         document.getElementById('buyNowButton').addEventListener('click', function (event) {
            // Prevent the default link behavior (following the href)
            event.preventDefault();

            // Get the target URL from the 'href' attribute of the button
            var redirectUrl = this.getAttribute('href');

            // Perform a 303 redirect
            if (redirectUrl) {
               window.location.href = redirectUrl;
            }
         });
      </script>

      <!-- jQuery -->
      <script th:src="@{/js/jquery.min.js}"></script>
      <!-- Bootstrap Core JS -->
      <script th:src="@{/js/popper.min.js}"></script>
      <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
      <!-- Slick Js-->
      <script th:src="@{/plugins/slick/js/slick.min.js}"></script>
      <!-- Custom JS -->
      <script th:src="@{/js/script.js}"></script>
   </body>
</html>